.card-depoimentos {
    width: 100%;
    max-width: 38.4rem;
    height: 20.9rem;
    background-color: rgba(241, 240, 245, 0.55);
    border-radius: 0.8rem;
    padding: 3.7rem 3.2rem 2.3rem 3.2rem;
    .user {
        @include flex(row, center, space-between);
        margin-bottom: 2.1rem;
        strong {
            color: $gray-500;
            font-family: "Poppins", serif;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 112%;
            letter-spacing: -1px;
        }
    }
    p {
        color: $gray-400;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 150%;
    }
}