.s-hero {
    width: 100%;
    height: 78.6rem;
    background: url("../img/bg-hero.svg") no-repeat center center;
    padding-top: 17.5rem;
    .container {
        @include flex(row, flex-start, space-between);
        .text {
            width: 100%;
            max-width: 68.4rem;
            h3 {
                opacity: 0.8;
                color: #FFF;
                font-weight: 600;
                margin-bottom: 3.2rem;
            }
            h1 {
                color: #FFF;
                margin-bottom: 3.9rem;
            }
            ul {
                width: 100%;
                margin-top: 6.4rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 5.9rem;
                li {
                    display: flex;
                    align-items: center;
                    gap: 1.2rem;
                    .icon {
                        width: 4.8rem;
                        height: 4.8rem;
                        background: linear-gradient(180deg, rgba(53, 203, 226, 0.4) 0%, rgba(53, 202, 226, 0.00) 100%);
                        border-radius: 50%;
                        @include flex(row, center, center);
                    }
                    span {
                        color: #FFF;
                        font-size: 1.8rem;
                        font-weight: 400;
                    }
                }
            }
        }
        .area-image {
            width: 100%;
            max-width: 70.6rem;
            margin-right: -17.4rem;
            h2 {
                margin-bottom: 6.7rem;
                text-align: center;
                color: #FFF;
                opacity: 0.8;
                font-weight: 600;
            }
            .image {
                position: relative;
                top: 4.3rem;
                width: 100%;
                height: 54.1rem;
                img {
                    position: absolute;
                }
                .card-front {
                    top: 4.1rem;
                    left: 0;
                    z-index: 2;
                }
                .card-back {
                    bottom: 4.6rem;
                    right: 8.6rem;
                    z-index: 1;
                }
                .circle {
                        bottom: 0;
                        left: 11.1rem;
                        z-index: 0;
                }
            }
        }
    }
    
}

.s-card-neon {
    padding-top: 12.9rem;
    .container {
        @include flex(row, flex-start, space-between);
        .left-area {
            width: 100%;
            max-width: 27.7rem;
            .ilustra-mockup {
                width: 100%;
                max-width: 27.7rem;
                position: relative;
                margin-bottom: 12.9rem;
                .circle {
                    position: absolute;
                    max-width: 37.7rem;
                    top: 8.7rem;
                    left: -21.4rem;
                    z-index: -1;
                }
            }
            .text {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .icon {
                    position: relative;
                    &:before {
                        content: "";
                        width: 5px;
                        height: 83px;
                        background: url(../img/points.svg) no-repeat center center;
                        position: absolute;
                        top: -10.4rem;
                        left: 50%;
                        right: 50%;
                    }
                }
                .info-txt {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h3 {
                        text-align: center;
                        color: $gray-600;
                        margin-bottom: 0.8rem;
                    }
                    p {
                        text-align: center;
                        color: $gray-400;
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 150%;
                        margin-bottom: 2.6rem;
                        opacity: 0.8;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 1.6rem;
                    }
                }
            }
        }
        .right-area {
            width: 100%;
            max-width: 80rem;
            .main-text {
            margin-bottom: 14.4rem;
                h2 {
                    max-width: 48.8rem;
                    color: $gray-600;
                    margin-bottom: 4.9rem;
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 3.3rem;
                    margin-bottom: 3.2rem;
                    li {
                        @include flex(row, center, space-between);
                        border-bottom: 1px solid rgba(225, 224, 231, 0.9);
                        padding-bottom: 3.3rem;
                        .info {
                            display: flex;
                            align-items: center;
                            gap: 4.3rem;
                            .txt {
                                h3 {
                                    color: $gray-400;
                                }
                                p {
                                    color: $gray-300;
                                    font-size: 1.8rem;
                                    font-weight: 400;
                                    line-height: 150%;
                                }
                            }
                        }
                    }
                }
                .btn {
                    color: $brand-blue;
                    font-family: "Poppins", serif;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 112%;
                    letter-spacing: -0.5px;
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        right: -1.8rem;
                        bottom: 0;
                        width: 1rem;
                        height: 0.3rem;
                        background-color: $brand-yellow;
                    }
                }
            }
            .box-card {
                width: 100%;
                height: 41rem;
                background: url(../img/bg-box-card-neon.svg) no-repeat center center;
                border-radius: 1.2rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 5.9rem;
                .text {
                    width: 100%;
                    max-width: 38rem;
                    h2 {
                        color: #FFF;
                        margin-bottom: 1.1rem;
                    }
                    h3 {
                        color: #FFF;
                        margin-bottom: 0.8rem;
                    }
                    p {
                        color: #FFF;
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 150%;
                        margin-bottom: 3.1rem;
                    }
                    .btns {
                        display: flex;
                        align-items: center;
                        gap: 1.6rem;
                    }
                }
                .image {
                    margin-right: -3.1rem;
                }
            }
        }
    }
}

.s-depoimentos {
    padding-top: 13.4rem;
    .container {
        .top {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin-bottom: 4rem;
            h2 {
                color: $gray-600;
                span {
                    display: block;
                    color: $gray-200;
                    margin-bottom: 1.4rem;
                }
            }
            .swiper-pagination {
                position: relative;
                text-align: right;
                width: auto;
                display: flex;
                gap: 0.4rem;
                .swiper-pagination-bullet {
                    background-color: $brand-yellow;
                    opacity: 0.3;
                    border-radius: 12px;
                    transition: all .3s;
                    &-active {
                        opacity: 1;
                        width: 17.23px;
                    }
                }
            }
        }
        .slide-depoimentos {
            overflow: hidden;
        }
    }
}

.s-conta-digital {
    padding-top: 12.7rem;
    padding-bottom: 8.5rem;
    .container {
        display: flex;
        .text {
            max-width: 54.2rem;
            h2 {
                color: $gray-600;
                margin-bottom: 4.5rem;
                span {
                    display: block;
                    color: $gray-200;
                    margin-bottom: 0.9rem;
                }
            }
            ul {
                display: flex;
                flex-direction: column;
                gap: 4.5rem;
                margin-bottom: 4.9rem;
                li {
                    display: flex;
                    align-items: center;
                    gap: 2.6rem;
                    .icon {
                        width: 4.5rem;
                        height: 4.5rem;
                        @include flex(row, center, center);
                        background-color: $brand-green-light;
                        border-radius: 0.8rem;
                    }
                    h4 {
                        color: $gray-400;
                        margin-bottom: 0.4rem;
                    }
                    p {
                        color: $gray-300;
                        font-size: 1.8rem;
                        line-height: 150%;
                    }
                }
            }
        }
        .image {
            position: relative;
            width: 100%;
            max-width: 71.2rem;
            height: 59.8rem;
            margin-left: -3.8rem;
            left: 12.5rem;
            img {
                position: absolute;
                &.mockup-01 {
                    left: 0;
                    bottom: 4.7rem;
                    z-index: 1;
                }
                &.mockup-02 {
                    top: 0;
                    left: 25.8rem;
                    z-index: 0;
                }
                &.circle {
                    right: 0;
                    bottom: 0;
                    z-index: -1;
                }
            }
        }
    }
}

footer {
    padding-top: 4.9rem;
    background-color: $brand-blue;
    .container{
        .top {
            @include flex(row, center, space-between);
            padding-bottom: 4.9rem;
            border-bottom: 2px solid rgba(73, 197, 253, 0.2);
            margin-bottom: 5.7rem;
            .share {
                display: flex;
                align-items: center;
                gap: 3rem;
                span {
                    color: #FFF;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 125%;
                    opacity: 0.7;
                }
                ul {
                    display: flex;
                    align-items: center;
                    gap: 3rem;
                }
            }
        }
        .main {
            @include flex(row, flex-start, space-between);
            padding-bottom: 6.2rem;
            border-bottom: 2px solid rgba(73, 197, 253, 0.2);
            nav {
                width: 100%;
                max-width: 86rem;
                @include flex(row, flex-start, space-between);
                .item {
                    strong {
                        color: #FFF;
                        font-family: "Poppins", serif;
                        font-size: 1.6rem;
                        font-weight: 600;
                        margin-bottom: 2.5rem;
                        display: inline-block;
                    }
                    ul {
                        li {
                            &:not(:last-child) {
                                margin-bottom: 2.5rem;
                            }
                            a {
                                color: #FFF;
                                font-size: 1.4rem;
                                font-weight: 400;
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
            .btns {
                width: 100%;
                max-width: 28rem;
                button {
                    border-radius: 0.6rem;
                    background-color: rgba(0, 164, 240, 0.23);
                    width: 100%;
                    height: 7.6rem;
                    display: flex;
                    align-items: center;
                    gap: 2.4rem;
                    padding-left: 2.5rem;
                    &:not(:last-child) {
                        margin-bottom: 2.4rem;
                    }
                    .info {
                        strong {
                            display: block;
                            text-align: left;
                            color: #FFF;
                            font-size: 1.4rem;
                            font-weight: 700;
                            line-height: 150%;
                        }
                        span {
                            display: block;
                            text-align: left;
                            color: #FFF;
                            font-size: 1.4rem;
                            font-weight: 400;
                            line-height: 150%;
                        }
                    }
                }
            }
        }
        .mensagem {
            padding: 3.6rem 0;
            border-bottom: 4px solid $brand-yellow;
            display: flex;
            align-items: flex-start;
            gap: 2rem;
            .icon {
                font-size: 1.8rem;
            }
            p {
                width: 100%;
                max-width: 66rem;
                color: #FFF;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 150%;
            }
        }
    }
}